---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
    <div class="flex flex-col gap-2">
        <div class="text-sm font-light">
            Hi, I'm Martin Luther, a front-end software developer from Nigeria.
            <br/>
            My primary tools of choice includes:
            <ul class="list-disc list-inside">
                <li>JavaScript</li>
                <li>React</li>
                <li>Vue</li>
                <li>Astro</li>
                <li>Nextjs</li>
                <li>Nuxtjs</li>
            </ul>
        </div>
        <p class="text-sm font-light">
            Beyond Coding, I'm enthusiastic about exploring the realms of literature through reading books.
            Taking serene evening strolls is a cherished activity that allows me to unwind and appreciate the world
            around me. I'm deeply fascinated by new technology and constantly seek to understand and embrace the latest
            advancements. As someone who is inherently knowledge-thirsty, I find joy in staying informed about diverse
            topics and expanding my intellectual horizons.
        </p>
        <p class="text-sm font-light">
            While I have some preferred tools, I always choose the best one for the
            job, even if it's not on my usual list. My goal is to find the right
            solution for each project.
        </p>
    </div>
</Card>
